In [1]:
import pandas as pd

## Create DataFrame

In [9]:
#สร้างตัวแปรเเล้วเเล้วเก็บค่าdata ในตัวแปร
pt = { 'day' : [ '1/1/2020' , '2/1/2020' , '2/1/2020']
     ,'Tempe' : [ 38,20 , 40 ]
     ,'event' : [ 'rain' , 'sunny'  , 'rain'] }
pt

{'day': ['1/1/2020', '2/1/2020', '2/1/2020'],
 'Tempe': [38, 20, 40],
 'event': ['rain', 'sunny', 'rain']}

In [11]:
df = pd.DataFrame(pt)  #นำตัวแปร pt มาทำให่เป็น dataframe เเล้วกับใน df
df

        day  Tempe  event
0  1/1/2020     38   rain
1  2/1/2020     20  sunny
2  2/1/2020     40   rain

## Import Data From CSV File

In [15]:
ds = pd.read_csv('data.csv')     #สามารถระบุ sheet ได้ว่าจะเอาชีทไหน
ds.head()

  manufacturer       model  displ  cyl       trans drv  cty  hwy fl    class
0         audi          a4    2.0    4  manual(m6)   f   20   31  p  compact
1         audi          a4    2.0    4    auto(av)   f   21   30  p  compact
2         audi          a4    3.1    6    auto(av)   f   18   27  p  compact
3         audi  a4 quattro    2.0    4  manual(m6)   4   20   28  p  compact
4         audi  a4 quattro    2.0    4    auto(s6)   4   19   27  p  compact

## Data Condition  (สภาพข้อมูล)

In [36]:
ds[ds['drv'] == '4'].head()   #อยากรู้เเค่ drv ที่มีเเต่4

  manufacturer       model  displ  cyl       trans drv  cty  hwy fl    class
3         audi  a4 quattro    2.0    4  manual(m6)   4   20   28  p  compact
4         audi  a4 quattro    2.0    4    auto(s6)   4   19   27  p  compact
5         audi  a4 quattro    3.1    6    auto(s6)   4   17   25  p  compact
6         audi  a4 quattro    3.1    6  manual(m6)   4   15   25  p  compact
7         audi  a6 quattro    3.1    6    auto(s6)   4   17   25  p  midsize

In [47]:
ds [ds['hwy'] == ds['hwy'].max()]  #หาค่าที่มากที่สุดใน hwy เเล้วเเสดงเป็น dataframe

    manufacturer    model  displ  cyl       trans drv  cty  hwy fl    class
100       toyota  corolla    1.8    4  manual(m5)   f   28   37  r  compact

## Data Missing Value

In [63]:
new_ds = ds.fillna( 'ffill' )   #ใส่ค่าเเทน Na   'ffill' คือเอาค่าก่อนน่ามาใส่ 
new_ds

,manufacturer,model,displ,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,2.0,4,manual(m6),f,20,31,p,compact
1,audi,a4,2.0,4,auto(av),f,21,30,p,compact
2,audi,a4,3.1,6,auto(av),f,18,27,p,compact
3,audi,a4 quattro,2.0,4,manual(m6),4,20,28,p,compact
4,audi,a4 quattro,2.0,4,auto(s6),4,19,27,p,compact
...,...,...,...,...,...,...,...,...,...,...
112,volkswagen,new beetle,2.5,5,manual(m5),f,20,28,r,subcompact
113,volkswagen,new beetle,2.5,5,auto(s6),f,20,29,r,subcompact
114,volkswagen,passat,2.0,4,auto(s6),f,19,28,p,midsize
115,volkswagen,passat,2.0,4,manual(m6),f,21,29,p,midsize
116,volkswagen,passat,3.6,6,auto(s6),f,17,26,p,midsize

## Interpolate , dropna (คือการประมาณค่า)

In [72]:
new_dt = new_ds.interpolate()   #คือการเอาค่าประมาณไปเเทนที่ nan เเต่ไม่เเทนกลุ่มข้อมูล category
new_dt

,manufacturer,model,displ,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,2.0,4,manual(m6),f,20,31,p,compact
1,audi,a4,2.0,4,auto(av),f,21,30,p,compact
2,audi,a4,3.1,6,auto(av),f,18,27,p,compact
3,audi,a4 quattro,2.0,4,manual(m6),4,20,28,p,compact
4,audi,a4 quattro,2.0,4,auto(s6),4,19,27,p,compact
...,...,...,...,...,...,...,...,...,...,...
112,volkswagen,new beetle,2.5,5,manual(m5),f,20,28,r,subcompact
113,volkswagen,new beetle,2.5,5,auto(s6),f,20,29,r,subcompact
114,volkswagen,passat,2.0,4,auto(s6),f,19,28,p,midsize
115,volkswagen,passat,2.0,4,manual(m6),f,21,29,p,midsize
116,volkswagen,passat,3.6,6,auto(s6),f,17,26,p,midsize

In [76]:
new_dt.iloc[0,2]  #locจะเเสดงเเค่เเถวที่สนใจ ส่วน ilocจะเเสดงตำเเหน่ง

2.0

In [70]:
new_dd = new_dt.dropna()   #คือการลบเเถวที่มี nan ออกไป
new_dd

,manufacturer,model,displ,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,2.0,4,manual(m6),f,20,31,p,compact
1,audi,a4,2.0,4,auto(av),f,21,30,p,compact
2,audi,a4,3.1,6,auto(av),f,18,27,p,compact
3,audi,a4 quattro,2.0,4,manual(m6),4,20,28,p,compact
4,audi,a4 quattro,2.0,4,auto(s6),4,19,27,p,compact
...,...,...,...,...,...,...,...,...,...,...
112,volkswagen,new beetle,2.5,5,manual(m5),f,20,28,r,subcompact
113,volkswagen,new beetle,2.5,5,auto(s6),f,20,29,r,subcompact
114,volkswagen,passat,2.0,4,auto(s6),f,19,28,p,midsize
115,volkswagen,passat,2.0,4,manual(m6),f,21,29,p,midsize
116,volkswagen,passat,3.6,6,auto(s6),f,17,26,p,midsize